<!-- info -->
<div class="row">
    <div class="well">
        <h2>Welcome!</h2>
        <p><strong>TapChecker</strong> is here to help you identify contaminants in your area's tap water system using data gathered and aggregated from the EPA (Environmental Protection Agency) database. It will only work in the United States, since that is where the data is gathered. The EPA's database can be quite slow, so you will have to click on the button below to load the results. </p>
    </div>
</div>

<!-- Loading template -->
<div class="row" data-ng-hide="my_zip">
    <div data-ng-hide="geo_failed">
        <div class="panel panel-info">
            <div class="panel-heading">Your location info</div>
            <div class="panel-body">
                <p>To get your zip code automatically, you must accept the location agreement listed on this page. You can also enter a zip code manually above.</p>
            </div>
        </div>
    </div>
    <div data-ng-show="geo_failed">
        <div class="panel panel-info">
            <div class="panel-heading">Your location info</div>
            <div class="panel-body">
                <p>We couldn't determine your location. Enter a U.S. zip code above.</p>
            </div>
        </div>
    </div>
</div>
<!-- Show data template -->
<div data-ng-show="my_zip">
    <div class="row">
        

        <!-- user's info -->
        
        <button class="btn btn-primary btn-block btn-lg">
            Your Zip Code: {{my_zip}}</button>
            


        <!-- tap water buttons -->
        
        <a href="#/water" data-ng-hide="water.loaded == false || water.clean == true">
            <button class="btn btn-block btn-danger btn-lg">
                <span class="glyphicon glyphicon-tint"></span> Tap water: {{ water.title }} 
            </button>
        </a>
        <a href="#/water" data-ng-hide="water.loaded == false || water.clean == false">
            <button class="btn btn-block btn-primary btn-lg">
                <span class="glyphicon glyphicon-tint"></span> Tap water: {{ water.title }} 
            </button>
        </a>
        <button class="btn btn-block btn-default btn-lg" data-ng-hide="water.loaded" data-ng-click="populateData(water)">
            <img src="img/loading.gif" data-ng-show="water.loading"> Tap water: {{ water.title }}
        </button>


        
        
        
    </div>
</div>

