<div id="water_buttons">
    <a href="#/"><button class="btn btn-primary">Go back</button></a>
    <button class="btn btn-primary" data-ng-click="changeView(water)" data-ng-show="water.viewing != ''">
        Showing {{water.viewing}}
    </button>
</div>

<div data-ng-show="water.viewing == ''" style="padding:60px;">
    <div class="panel panel-info">
        <div class="panel-heading">Water</div>
        <div class="panel-body">
        There is no data to show!
        </div>
    </div>
</div>

<div data-ng-show="water.viewing != ''">
    <div class="row" id="water_info">
        <div class="panel panel-info">
            <div class="panel-heading">Water</div>
            <div class="panel-body">
            There were {{ water.violationsLength }} possibly open violations found, with a total of {{ water.dataLength }} past violations in this area. Each violation is from a particular water facility, including neighborhood facilities. It's possible that facilities have fixed their problem but the data wasn't updated. Be mindful of the date and location. Common terms: NOV = "Notice of Violation". St = State. Fed = Federal. AO = "Administrative Order".
            </div>
        </div>
    </div>
    <div infinite-scroll="loadMore(water, 'violations')" infinite-scroll-distance="1" infinite-scroll-disabled="water.viewing!='Current Violations'">
        <div class="row" data-ng-repeat="row in water.violations" data-ng-show="water.viewing=='Current Violations'">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Violation ID</th>
                        <th>{{ row.VIOID }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><strong>Enforcement Action</strong></td>
                        <td width="80%">{{row.ENFACTIONNAME}}</td>
                    </tr>
                    <tr>
                        <td><strong>Date Range</strong></td>
                        <td>{{row.COMPPERBEGINDATE}} - {{row.COMPPERENDDATE}}</td>
                    </tr>
                    <tr>
                        <td><strong>Enforcement Date</strong></td>
                        <td>{{row.ENFDATE}}</td>
                    </tr>
                    <tr>
                        <td><strong>Contaminant</strong></td>
                        <td>{{row.CNAME}} 
                            <a href="https://en.wikipedia.org/wiki/Special:Search/{{row.CNAME}}" target="new">
                                <button class="btn btn-default">Wiki</button>
                            </a>
                        </td>
                    </tr>
                    <tr data-ng-show="row.DEFINITION != ''">
                        <td><strong>Definition</strong></td>
                        <td>{{row.DEFINITION}}</td>
                    </tr>
                    <tr data-ng-show="row.HEALTHEFFECTS != '' && row.HEALTHEFFECTS != undefined">
                        <td><strong>Health Effects</strong></td>
                        <td>{{row.HEALTHEFFECTS}}</td>
                    </tr>
                    <tr data-ng-show="row.SOURCES != ''">
                        <td><strong>Contaminant Sources</strong></td>
                        <td>{{row.SOURCES}}</td>
                    </tr>
                    <tr>
                        <td><strong>Facility Name</strong></td>
                        <td>{{row.PWSNAME}}</td>
                    </tr>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{{row.VNAME}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div infinite-scroll="loadMore(water, 'data')" infinite-scroll-distance="1" infinite-scroll-disabled="water.viewing != 'All Violations'">
        <div class="row" data-ng-repeat="row in water.data" data-ng-show="water.viewing=='All Violations'">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Violation ID</th>
                        <th>{{ row.VIOID }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%"><strong>Enforcement Action</strong></td>
                        <td width="80%">{{row.ENFACTIONNAME}}</td>
                    </tr>
                    <tr>
                        <td><strong>Date Range</strong></td>
                        <td>{{row.COMPPERBEGINDATE}} - {{row.COMPPERENDDATE}}</td>
                    </tr>
                    <tr>
                        <td><strong>Enforcement Date</strong></td>
                        <td>{{row.ENFDATE}}</td>
                    </tr>
                    <tr>
                        <td><strong>Contaminant</strong></td>
                        <td>{{row.CNAME}} 
                            <a href="https://en.wikipedia.org/wiki/Special:Search/{{row.CNAME}}" target="new">
                                <button class="btn btn-default">Wiki</button>
                            </a>
                        </td>
                    </tr>
                    <tr data-ng-show="row.DEFINITION != ''">
                        <td><strong>Definition</strong></td>
                        <td>{{row.DEFINITION}}</td>
                    </tr>
                    <tr data-ng-show="row.HEALTHEFFECTS != '' && row.HEALTHEFFECTS != undefined">
                        <td><strong>Health Effects</strong></td>
                        <td>{{row.HEALTHEFFECTS}}</td>
                    </tr>
                    <tr data-ng-show="row.SOURCES != ''">
                        <td><strong>Contaminant Sources</strong></td>
                        <td>{{row.SOURCES}}</td>
                    </tr>
                    <tr>
                        <td><strong>Facility Name</strong></td>
                        <td>{{row.PWSNAME}}</td>
                    </tr>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{{row.VNAME}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

